.activities
  &__footer
    p
      font-family: Roboto
      font-size: 1.8rem
    input
      box-sizing: border-box
      width: 280px
      padding: 10px 15px
      margin-bottom: 10px
      border-radius: 5px
      border: 1px solid $grey-light
      color: $grey
    button
      margin-bottom: 40px
