.footer
  &__company
  &__menu
    color: $black
    &__item
      display: inline-block
      margin: 0 5px
      a
        color: $grey
        font-family: Roboto
  &__partner-logo
    text-transform: uppercase
    color: $grey-light
    &::after
      content: ""
      display: block
      width: 110px
      height: 24px
      background: url(/src/pics/footer-logo.svg)
      margin: auto
