.partner
  &__header
  &__slide
    margin: 5px 0
    text-align: center
    &__pic
      position: relative
      width: 120px
      margin: auto
    &__icon
      position: absolute
      bottom: 0
      right: 0
      width: 40px
      height: 40px
      &--img1
        background: url(/src/pics/part-icon-mob-tv.png) no-repeat
    &__paragraph
      font-family: Roboto
      font-weight: 300
      color: $grey
