.slider
  color: $white
  &__slide
    box-sizing: border-box
    display: flex
    flex-direction: column
    justify-content: flex-end
    max-width: 300px
    height: 240px
    padding: 10px
    margin: 5px 0
    text-align: left
    &--img1
      background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%), url(/src/pics/slide-pc-mob.png) no-repeat
    &--img2
      background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%), url(/src/pics/slide-car-mob.png) no-repeat
    &--img3
      background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%), url(/src/pics/slide-legs-mob.png) no-repeat
    &__label
      display: flex
      align-items: center
      justify-content: center
      width: 70px
      height: 20px
      border-radius: 10px
      background-color: $pink
      font-size: $font-base
      text-transform: uppercase
    &__heading
      margin-bottom: 5px
    &__paragraph
      font-family: Roboto
      font-weight: 300
      color: $grey-light
