.tablet
  &__slide
    display: flex
    justify-content: center
    &__pic
      position: relative
    &__heading
      position: absolute
      color: $pink
      align-self: center
      margin: 0
