@import normalize
@import flexboxgrid
@import variables
@import font

html
  font-size: 10px

body
  font-family: Mont
  font-weight: normal
  font-size: 2rem
  padding: 10px
  background-color: yellow
